@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Englebert);
body{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	margin: auto;
	width: 600px;
}

.domanda{
	border-bottom: 1px solid #DEDEDE;
	padding: 1em;
}
.domanda:last-of-type{
	border-bottom: none;
}
	.domanda h2{
		font-weight: 600;
		color: #797979;
		margin-top: 0;
	}
	.domanda label{}
	.domanda input{}

.risultato{
	font-family: 'Englebert', sans-serif;
	line-height: 1.5;
}
	.risultato img{
		width: 80%;
		margin:auto;
		text-align: center;
		display: block;
	}

input[type="submit"]{
	font-size: 1.5em;
	display: inline-block;
	width: 100%;
	padding:1em;
	margin: 1.5em 0 3em;
	border-radius: 999em;
	outline:none;
	border: 3px solid magenta;
	color: orange;
	background: none;

	-webkit-animation: border-pulse .3s infinite;
	-moz-animation: border-pulse .3s infinite;
	-o-animation: border-pulse .3s infinite;
	animation: border-pulse .3s infinite;
}

@-webkit-keyframes border-pulse {
	50% { box-shadow: 0 0 3em #B0007F;}
	0%,100% { box-shadow: 0 0 3em #FF8800; }
}
@-o-keyframes border-pulse {
	50% { box-shadow: 0 0 3em #B0007F;}
	0%,100% { box-shadow: 0 0 3em #FF8800; }
}
@-moz-keyframes border-pulse {
	50% { box-shadow: 0 0 3em #B0007F;}
	0%,100% { box-shadow: 0 0 3em #FF8800; }
}
@keyframes border-pulse {
	50% { box-shadow: 0 0 3em #B0007F;}
	0%,100% { box-shadow: 0 0 3em #FF8800; }
}